<!doctype html>
<html lang="en">
    <head>

        {{! Document settings and metadata }}
        <title>{{meta_title}}</title>
        <meta charset="utf-8" />
        <meta name="designer" content="Hayden Bleasel" />
        <meta name="rating" content="general" />
        <meta name="keywords" content="ghost, blog, {{meta_title}}" />

        {{! iOS, Android and Windows stuff }}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="msapplication-TileImage" content="{{asset 'images/windows-tile.png'}}" />
        <meta name="msapplication-TileColor" content="#262A2D" />

        {{! Robots and Viewport }}
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {{! OpenGraph for Facebook }}
        <meta property="og:title" content="{{meta_title}}" />
        <meta property="og:image" content="{{@blog.url}}/assets/images/open-graph.png" />
        <meta property="og:locale" content="en_US" />

        {{! Twitter Card }}
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="{{meta_title}}" />
        {{#if @blog.cover}}<meta property="twitter:image" content="{{@blog.cover}}" />{{/if}}

        {{! Icons }}
        <link rel="icon" href="{{asset 'favicon.ico'}}" />
        <link rel="icon" sizes="196x196" href="{{asset 'images/android-homescreen.png'}}" />
        <link rel="apple-touch-icon" href="{{asset 'images/apple-touch-icon.png'}}" />

        {{! Prerendering and Prefetching }}
        {{#if @blog.cover}}
            <link rel="prerender" href="{{@blog.cover}}" />
            <link rel="prefetch" href="{{@blog.cover}}" />
        {{/if}}
        <link rel="dns-prefetch" href="//fonts.googleapis.com/" />

        {{! Scripts and Stylesheets }}
        <link rel="stylesheet" href="{{asset 'css/normalize.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/basics.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/animate.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/gist.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/phantom.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/2520.css'}}" />
        <script src="{{asset 'js/html5shiv-printshiv.js'}}"></script>
        <script src="{{asset 'js/respond.js'}}"></script>
        <script src="{{asset 'js/2520.js'}}"></script>
        
        {{! Page-Specific Metadata }}
        {{{block "meta"}}}

        {{ghost_head}}
        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55487541-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body class="{{body_class}}">
        <nav class="animated fadeIn navigation">
            <div class="container">
                <a href="{{@blog.url}}" class="text-right sidebar brand">
                    {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}" />{{/if}}
                </a>
                <a href="{{@blog.url}}">
                    <p class="content">{{@blog.title}}</p>
                </a>
                <a href="/about">
                    <p id="about" class="content-right">About</p>
                </a>
                <a href="/services">
                    <p id="services" class="content-right">Services</p>
                </a>
                <a href="/">
                    <p {{#is "home"}}class="selected content-right" {{else}}class="content-right" {{/is}} >Blog</p>
                </a>

            </div>
        </nav>
        <div class="main">
            {{{body}}}
        </div>
        <footer class="animated fadeIn" id="footer">
            <div class="container text-center">
                <p class="copyright"><span>Made by <a href="/author/jon-holt">Jon Holt</a>.</span> <span>Powered by Ghost.</span></p>
                <a href="https://github.com/haydenbleasel/phantom" class="theme">Genesis of the theme: Phantom by Hayden Bleasel</a>
            </div>
        </footer>

        {{ghost_foot}}

        {{! Deferred scripts }}
        <script src="{{asset 'js/fastclick.js'}}"></script>
        <script src="{{asset 'js/stellar.js'}}"></script>
        <script src="{{asset 'js/phantom.js'}}"></script>
        <script>
            var about = ("{{post.title}}"=="About");
            var services = ("{{post.title}}"=="Services");
            if(about){
                var p = document.getElementById('about');
                if(p)
                    p.className = p.className + " selected";
            }
            if(services){
                var p = document.getElementById('services');
                if(p)
                    p.className = p.className + " selected";
            }
        </script>
    </body>
</html>
